<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mx-auto p-4">
                <form [formGroup]="profileForm" (ngSubmit)="onUpdate()">
                    <div class="card card-primary card-outline row align-items-end"
                        style="flex-direction: inherit!important">
                        <div class="col-md-6">
                            <div class="card-body h-100 box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid img-circle"
                                        src="../../assets/img/user4-128x128.jpg" alt="User profile picture">
                                </div>

                                <h3 class="profile-username text-center">{{ currentProfile?.userName }}</h3>

                                <p class="text-muted text-center">{{ currentProfile?.profession }}</p>

                                <ul class="list-group list-group-unbordered mb-3">
 
                                    <strong> Name and surname</strong>

                                    <div class="my-3">
                                        <input type="text" class="form-control form-control-border"
                                            placeholder="Name and surname" formControlName="userName">
                                    </div>

                                    <strong>Proffesion</strong>

                                    <div class="my-3">
                                        <input type="text" class="form-control form-control-border"
                                            placeholder="Proffession" formControlName="profession">
                                    </div>


                                    <strong>Email</strong>


                                    <input type="email" class="form-control form-control-border" placeholder="Email"
                                        formControlName="email">
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body h-100 ">
                                <strong><i class="fas fa-book mr-1"></i> Education</strong>

                                <div class="my-3">
                                    <input type="text" class="form-control form-control-border" placeholder="education"
                                        formControlName="education">
                                </div>

                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                                <div class="my-3">
                                    <input type="text" class="form-control form-control-border" placeholder="location"
                                        formControlName="location">
                                </div>

                                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                                <div class="my-3">
                                    <input type="text" class="form-control form-control-border" placeholder="skills"
                                        formControlName="skills">
                                </div>

                                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                                <div class="my-3">
                                    <input type="text" class="form-control form-control-border" placeholder="notes"
                                        formControlName="notes">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-4">
                            <button type="submit" class="btn btn-success btn-block">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>