<div class="hold-transition login-page">
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="" class="h1"><b>Chatter</b></a>
      </div>
      <div class="card-body">

        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="col-5 mt-4 mx-auto">
            <button type="submit" class="btn btn-success">Log in</button>
          </div>
        </form>

        <div class="mt-4 text-center">
          <p>
            You don't have account ? 👀 <a routerLink="/account/register">Register</a> now
          </p>
        </div>

      </div>
    </div>
  </div>