<div class="hold-transition register-page">
    <div class="register-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="../../index2.html" class="h1"><b>Chatter</b></a>
        </div>
        <div class="card-body">
    
          <form action="../../index.html" method="post">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Imię i nazwisko">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Hasło">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Powtórz hasło">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
              <div class="col-12">
                <div class="icheck-primary">
                  <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                  <label for="agreeTerms">
                  Zgadzam się <a href="#">regulaminem</a>
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-5 mx-auto my-4">
                <button type="submit" class="btn btn-primary btn-block">Zarejestruj</button>
              </div>
              <!-- /.col -->
          </form>
    
          <div class="text-center">
            <a href="account/login">Mam już konto</a>
          </div>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
</div>