<div class="hold-transition register-page">
  <div class="register-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="../../index2.html" class="h1"><b>Chatter</b></a>
      </div>
      <div class="card-body">

        <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
          <div class="input-group mb-3">
            <input  type="text" class="form-control" placeholder="User name"  formControlName="userName">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="col-5 mx-auto my-4">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
        </form>

        <div class="text-center">
          <a routerLink="/account/login">I have account</a>
        </div>
      </div>
    </div>
  </div>
</div>