<ng-container *ngIf="(currentUser$ | async) !== null">
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary ">
            <div class="sidebar">
                <nav class="mt-4">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li *ngFor="let friend of (currentUser$ | async).friends" class="nav-item menu-open">
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a role="button" class="nav-link"
                                        [ngClass]="this.currentRoomId === friend.roomId ? 'active': ''"
                                        (click)="onSelectFriend(friend)">
                                        <img class="direct-leftsidebar-img"
                                            src="{{ friend.profilePictureUrl ? friend.profilePictureUrl : '../../assets/img/default-photo.png'}}"
                                            alt="message user image">
                                        <p class="ml-2">{{ friend.userName }}</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <ng-container *ngIf="currentRoomId">
            <app-chat [currentUser]="(currentUser$ | async)" [currentRoomId]="currentRoomId"></app-chat>
        </ng-container>
    </div>
</ng-container>